<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>greeting</title>
    <link href="/css/myUglyCss.css" rel="stylesheet" type="text/css">
</head>
<body>
<h2>Greeting page</h2>
<a href="/main">Main page</a>
</body>
</html>